# Memastikan plugin ESLint & Prettier bisa diakses secara global
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Menghindari masalah "phantom dependencies" di Windows
shamefully-hoist=true